* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


i {
    font-size: 30px;
}

#foto-perfil {
    border-radius: 100%;
}

.redes-sociais {
    display: flex;
    gap: 20px;
    align-items: center;
}

#contate {
    border: 2px solid #000;
    padding: 15px 25px;
    border-radius: 50px;
    background-color: transparent;
    text-transform: uppercase;
}