:root {
    --primary-color: #d44b4b;
    --font-color: #000;
    --background-color: #fff;
    --font-size-base: clamp(1rem, 1vw, 1.5rem);
    --header-font-size: clamp(1rem, 8vw, 5rem);
    --section-title-size: clamp(1rem, 2vw, 2rem);
    --icon-size: clamp(1rem, 6vw, 2rem);
}

.dark-mode:root {
    --primary-color: #df2a2a;
    --font-color: #fff;
    --background-color: #1d1d1d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .1s;
}

body {
    color: var(--font-color);
    background-color: var(--background-color);
    font-size: var(--font-size-base);
}

i {
    font-size: var(--icon-size);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3rem;
}

header h1 {
    font-size: var(--header-font-size);
    color: var(--primary-color);
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5vw;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 25%;
}

section h2 {
    font-size: var(--section-title-size);
    margin-bottom: 1rem;
}

#foto-perfil {
    border-radius: 100%;
    width: 100%;
    max-width: 250px;
}

.redes-sociais {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 2rem;
}

#contate {
    color: var(--font-color);
    border: 2px solid var(--font-color);
    padding: 15px 25px;
    border-radius: 50px;
    background-color: transparent;
    text-transform: uppercase;
    margin-top: 2rem;
}

#banner {
    background-color: #d44b4b;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--background-color);
    width: 31%;
}

#banner h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
}

.tituloLinha {
    font-weight: 700;
}

footer {
    background-color: gray;
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
}

#mudarTema {
    position: absolute;
    top: 10%;
    right: 10%;
    background-color: transparent;
    border: none;
    color: var(--font-color);
    
}

/* Responsividade para telas menores */

@media (max-width: 768px) {
    main {
        flex-direction: column-reverse;
        gap: 3rem;
        align-items: center;
    }

    section {
        width: 90%;
        text-align: center;
        justify-content: center;
    }

    .redes-sociais {
        justify-content: center;
    }

    #banner {
        width: 100%;
    }

    #mudarTema{
        top: 5%;
        right: 5%;
    }
}
